.user-details-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    border: 1px solid #6edeeb;
    border-radius: 16px;
    margin: 16px 0px
}

.user-details-form label {
    margin-right: 12px;
}

.user-details-form input {
    margin-right: 24px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #404040;
}

input[type="submit"] {
    background-color: #03fcdb;
    outline: none;
    border: transparent;
    color: #000;
    cursor: pointer;
}